<div class="container mt-5"> 
  <h1>Reactive Forms</h1>
  <ul class="nav nav-pills my-3"><!--my = spaziatura sopra e sotto sull asse (mt + mb)-->
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/es-1">FormControl</a><!--routerLinkActive = classe che io voglio sia assegnata al tag quando mi trovo sulla rotta-->
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/es-2">FormGroup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/es-3">FormGroup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/es-4">FormArray</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
